
body{
    text-align: justify;
    background: rgb(62, 97, 131);
    }
            h1 {
                color: rgb(255, 2, 2);
                
             font-size: 1.7em;
    
             background-color: rgb(32, 120, 221);
      
                
            }
    
     h2 {
         color: white;
         font-size: 1.2em;
     }
         