@charset  "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');



:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}


*{
    margin: 0;
    padding: 0;
    font-size: 1em;
}

html , body{
    background-color: darkgray;
    min-height: 100vh;
    font-family: var(--fonte1);
    background-color: white;
}


header{
    background-color: black;
    color: white;
    text-align: center;
    padding-top:40px ;
    padding-bottom: 40px;

    
}


header > h1 {
    font-size: 6em;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-weight: lighter;
    
    
    
}

header > p {
   
   font-family: var(--fonte1);
}


 a{
  text-decoration: none;
  color: white;

}

 a:hover{
    text-decoration: underline;
    font-weight: bold;
}






section{
    margin: 20px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-family: var(--fonte3);
    padding-left: 30px;
    line-height: 2.5em;
    font-size: 2.0em;
    
    

}

section.normal{
 

}


section.imagem{
 background-color: rgb(63, 63, 63);
 margin: 0;
 
}

section.imagem > p {
    display: inline-block;
    color: white;
  background-color: rgba(0, 0, 0, 0.356);
  padding:0px 10px 0px 10px;
  text-shadow: 1px 1px 0px black;
  margin: 10px;
  

  
}

#img1{
   background-image: url(imagens/background002.jpg);
   background-position: center center;
   background-attachment: fixed;
   
}

#img2{
    background-image: url(imagens/background001.jpg);
    background-position: center center;
    background-attachment: fixed;
}




footer{
    background-color: black;
    color: white;
    padding: 10px 0px 10px 0px;
    text-align: center;
}